<div class="max-w-screen-2xl mx-auto py-8">
  <div
    class="md:max-w-sm mx-auto rounded-xl border bg-card text-card-foreground shadow w-auto p-4"
  >
    <h2 class="text-center font-medium hover:underline">Formulario Producto</h2>
    <form [formGroup]="productoForm" (ngSubmit)="onSubmit()">
      <div class="relative z-0 w-full mb-5 group">
        <input
          type="text"
          formControlName="nombre"
          id="nombre"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "
          required
        />
        <label
          for="nombre"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Nombre Producto</label
        >
      </div>
      <div class="relative z-0 w-full mb-5 group">
        <input
          type="number"
          formControlName="stock"
          id="stock"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "
          required
        />
        <label
          for="stock"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Stock</label
        >
      </div>
      <div class="relative z-0 w-full mb-5 group">
        <input
          type="number"
          formControlName="precio"
          id="precio"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=""
          step="0.01"
          min="0.01"
          required
        />
        <label
          for="precio"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Precio</label
        >
      </div>

      <div class="relative z-0 w-full mb-5 group">
        <select
          formControlName="proveedorId"
          id="proveedorId"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          required
        >
          <option value="" disabled selected hidden>Proveedor</option>
          <option *ngFor="let proveedor of proveedores" [value]="proveedor.id">
            {{ proveedor.nombre }}
          </option>
        </select>
        <label
          for="proveedorId"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Proveedor</label
        >
      </div>
      <div class="flex flex-col justify-center items-center gap-y-2">
        <button
          *ngIf="proveedorId"
          type="submit"
          class="hover:animate-jump hover:animate-once animate-delay-300 animate-ease-in-out animate-alternate-reverse animate-fill-forwards text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-4 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:green-blue-800"
        >
          Actualizar
        </button>

        <button
          *ngIf="!proveedorId"
          type="submit"
          class="hover:animate-jump hover:animate-once animate-delay-300 animate-ease-in-out animate-alternate-reverse animate-fill-forwards text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-7 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Enviar
        </button>

        <button
          (click)="resetForm()"
          type="button"
          class="hover:animate-jump hover:animate-once animate-delay-300 animate-ease-in-out animate-alternate-reverse animate-fill-forwards text-white bg-slate-700 hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-slate-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-slate-600 dark:hover:bg-slate-700 dark:focus:ring-slate-800"
        >
          Resetear
        </button>
      </div>
    </form>
  </div>

  <!-- <div
    class="flex border items-center justify-between flex-column md:flex-row flex-wrap space-y-4 md:space-y-0 py-4 bg-white dark:bg-gray-900"
  >
    <label for="search" class="sr-only">Search</label>
    <div class="relative">
      <div
        class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none"
      >
        <svg
          class="w-4 h-4 text-gray-500 dark:text-gray-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
          />
        </svg>
      </div>
      <input
        type="text"
        id="search"
        class="block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Search for users"
      />
    </div>
  </div> -->
  <br />
  <div class="relative overflow-x-auto border">
    <h1 class="text-center font-bold py-4 border-b">Lista de Productos</h1>
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr class="border-b">
          <!-- <th scope="col" class="p-4">
          <div class="flex items-center">
            <input
              id="checkbox"
              type="checkbox"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />
            <label for="checkbox" class="sr-only">checkbox</label>
          </div>
        </th> -->
          <!-- <th scope="col" class="px-6 py-3">ID</th> -->
          <th scope="col" class="px-6 py-3 flex space-x-2">
            <span> Nombre </span>
            <svg
              (click)="sortProductsName()"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-arrow-down-up"
            >
              <path d="m3 16 4 4 4-4" />
              <path d="M7 20V4" />
              <path d="m21 8-4-4-4 4" />
              <path d="M17 4v16" />
            </svg>
          </th>
          <th scope="col" class="px-6 py-3">Precio</th>
          <th scope="col" class="px-6 py-3">Stock</th>
          <th scope="col" class="px-6 py-3">Proveedor</th>
          <th scope="col" class="px-6 py-3">Creado</th>
          <th scope="col" class="px-6 py-3">Actualizado</th>
          <th scope="col" class="px-6 py-3">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let producto of productos"
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
        >
          <!-- <td class="w-4 p-4">
          <div class="flex items-center">
            <input
              id="{{ producto.id }}"
              type="checkbox"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />
            <label for="{{ producto.id }}" class="sr-only">checkbox</label>
          </div>
        </td> -->
          <!-- <th
          scope="row"
          class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white"
        >
          <div class="ps-3">
            <div class="text-base font-semibold">{{ producto.id }}</div>
          </div>
        </th> -->
          <td class="px-6 py-4">{{ producto.nombre }}</td>
          <td class="px-6 py-4">{{ producto.precio }}</td>
          <td class="px-6 py-4">
            <div class="flex items-center">
              <div
                *ngIf="producto.stock > 1"
                class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"
              ></div>
              <div
                *ngIf="producto.stock === 0"
                class="h-2.5 w-2.5 rounded-full bg-red-500 me-2"
              ></div>
              <div
                *ngIf="producto.stock === 1"
                class="h-2.5 w-2.5 rounded-full bg-orange-500 me-2"
              ></div>
              {{ producto.stock }}
            </div>
          </td>
          <td class="px-6 py-4">
            {{ producto.proveedorId && "David Pilla" }}
          </td>
          <td class="px-6 py-4">{{ producto.fecha_creado }}</td>
          <td class="px-6 py-4">
            {{ producto?.fecha_modificacion ?? "No Actualizado" }}
          </td>

          <td class="flex items-center px-6 py-4 gap-4">
            <button
              (click)="onEdit(producto.id.toString())"
              data-modal-target="default-modal"
              data-modal-toggle="default-modal"
              class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-8 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              type="button"
            >
              Editar
            </button>

            <button
              (click)="eliminarProducto(producto.id.toString())"
              class="block text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-6 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
