<!--<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark"> 
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CRUD PRODUCTOS</a>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <form class="d-flex ms-auto">
          <input class="form-control me-sm-2" type="search" placeholder="Search">
        </form>
      </div>
    </div>
  </nav> -->

<nav class="border-b pt-4">
  <div id="navbarColor01">
    <ul class="flex justify-evenly items-center">
      <li
        class="text-primary underline-offset-4 hover:underline h-9 px-4 py-2 bg-black bg-opacity-10 hover:bg-slate-500 hover: rounded-3xl"
      >
        <a class="nav-link active" href="productos">Productos </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="proveedor"> Proveedor </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="ventas">Ventas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="lista de ventas">Lista de Ventas</a>
      </li>
    </ul>
  </div>
  <
</nav>
