<div class="row mt-5">
    <div class="col-lg-4 offset-lg-4">
        <div class="card text-white bg-secondary mb-3" style="max-width: 25rem;">
            <div class="card-header text-center">Agregar Lista de Ventas</div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="addListaVentas()">
                    <input formControlName="cantidad" type="number" class="form-control mt-3" placeholder="cantidad">
                    <span *ngIf="form.get('cantidad')?.hasError('required')&& form.get('cantidad')?.touched">
                        El campo cantidad es <strong>Requerido</strong>
                    </span>

                    <div class="row mt-3 text-center">
                        <div class="col-lg-6">
                            <button routerLink="/" type="button" class="btn btn-info">Regresar</button>
                        </div>
                        <div class="col-lg-6">
                            <button [disabled]="form.invalid" type="submit" class="btn btn-danger">Aceptar</button>
                        </div>
                    </div>
                </form>
            </div>
          </div>
    </div>
</div>



