<div class="container">
    <div class="title">
        <h4>Listado de Proveedores</h4>
        <button type="button" class="btn btn-success" routerLink="/addProveedor">Agregar Proveedor</button>
    </div>

    <table class="table table-hover">
        <thead>
           <tr>
               <th scope="col">NOMBRE</th>
               <th scope="col">APELLIDO</th>
               <th scope="col">DIRECCION</th>
               <th scope="col">EMAIL</th>
               <th scope="col">TELEFONO</th>
               <th scope="col"></th>
           </tr>
       </thead>
       <tbody>
           <tr *ngFor="let item of listProveedor" class="table-success">
               <td>{{ item.nombre }}</td>
               <td>{{ item.apellido }}</td>
               <td>{{ item.direccion }}</td>
               <td>{{ item.email }}</td>
               <td>{{ item.telefono }}</td>
               <td>
                   <button routerLink="/edit/{{ item.proveedor_id }}" type="button" class="btn btn-info btn-sm">Edit</button>
                   <button type="button" class="btn btn-warning btn-sm ms-4">Delete</button>
               </td>
           </tr> 
       </tbody>
 </table>
</div>
