@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  min-width: 0;
}

body {
  min-width: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}
